body{
  background-color: lavenderblush;
}

section{
  margin-left: 10px;
}

img{
  width: 100%;
  object-fit: cover;
} 

.text-center{
  width: 50%;
  text-align: center;
}

.flex{
  display: flex;
  &.flex-wrap{
    flex-wrap: wrap;
  }
  &.flex-center{
    align-items: center;
    justify-content: center;
  }
  &.gap-md {
    gap: 1rem; // or whatever spacing you prefer
  }
}

h2{
  font-size: 28px;
  margin-bottom: 18px;  
}

//Header scss

.header{
  position: relative;
  height: 50vh;
  overflow: hidden;
  &-text{
    max-width: 400px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);  
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    h2,p{
      text-shadow: 3px 3px 7px #9E9E9E;
    }
  }
}

//Special dishes css
.special-dishes{
  &-content{
    margin:auto
  }

  &-list{
    ul{
      list-style-type: none;
      li{
        width: 20%;
      }
    }  
  }
}

//Categories
.dish-categories{
  margin: auto;
  ul{
    list-style-type: none;
  }
  li{
    border-radius: 5px;
    background-color: orangered;
    transition: background-color 0.3s ease;
    color: white;
    padding: 5px;
  }
  li.active{
    background-color: black !important;
  }
  li:hover{
    background-color: black;
  }
  
}
